body {
    max-width: 1400px;
    min-width: 375px;
    font-family: 'Nunito', sans-serif;
    background: #ffff;
    margin: 0%;
}
html {
    scroll-behavior: smooth;
}
.espacios {
    height: 100vh;
}
#navbar {
    padding-right: 60px;
}
#header {
    padding-top: 100px;
}
#services {
    padding-top: 95px;
}
#news {
    padding-top: 75px;
}
#team {
    padding-top: 75px;
}
/* ____________________________menú navegación_______________________________ */
nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    position: fixed;
    right: 0;
    top: 0;
}
.nav-enlace {
    display: inline-block;
    text-decoration: none;
    background: cadetblue;
    padding: 10px 30px;
    margin: 0px 3px;
    border-radius: 5px;
}
.nav-enlace:hover {
    background: rgb(180, 10, 10);
    transition: all 0.3s linear;
}
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .nav-enlace {
        margin: 2px 0px;
    }
}
#navbar img {
    height: 50px;
    padding-left: 10rem;
    position: fixed;
    left: 0;
}
/* ____________________________1Imagen Grande_______________________________ */
.logo {
    width: 60%;
    margin: 5rem auto;
    margin-left: 17rem;
}
/* ___________________________2Servicios_______________________________ */
.servicios {
    background: rgb(201, 151, 14);
    padding: 20px;
    width: 30%;
    margin: 10px;
}
.padre_servicios {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.logo_servicio {
    width: 70%;
    margin-left: 17%;
}
/* ___________________________3Noticias_______________________________ */
.noticias {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.titular {
    display: flex;
}
.imagen-noticias {
    width: 150px;
    display: flex;
}
.noticia {
    background: rgb(36, 122, 62);
    border: 1px solid #333;
    margin: 10px;
    padding: 30px;
}
.noticia img {
    float: left;
    margin: 15px;
}
/* ___________________________4Equipo_______________________________ */
.equipo {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.imagen-equipo {
    height: 140px;
    border-radius: 15px;
    margin-left: 15px;
}
.tripulante {
    background: rgb(73, 138, 235);
    border: 1px solid #333;
    margin: 7px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 2px darkblue;
}
/* ___________________________5Footer_______________________________ */
.pie {
    background-color: #191c36;
    height: auto;
    display: flex;
    color: rgb(194, 192, 192);
    justify-content: space-evenly;
}
/* ___________________________iFrames_______________________________ */
.iframe2 {
    width: 100% !important;
    height: 580px;
    border: none;
}
.iframe3 {
    width: 100% !important;
    height: 650px;
    border: none;
}
.iframe4 {
    width: 100% !important;
    height: 480px;
    border: none;
}
.iframe5 {
    width: 100% !important;
    height: 217px;
}